body{
font-family:Arial;
background:#2c3e50;
color:white;
text-align:center;
}

.caixa{

background:white;
color:black;

width:300px;
margin:auto;
padding:20px;

border-radius:10px;

}

.opcao{
margin:15px 0;
}

.botoes{

display:flex;
flex-direction:column;
gap:10px;

}

button{

padding:8px;
border:none;
border-radius:5px;
cursor:pointer;

background:#3498db;
color:white;

}