body{

margin:0;
font-family:Arial;
overflow:hidden;

background:linear-gradient(120deg,#2c3e50,#4ca1af);

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

canvas{
position:fixed;
top:0;
left:0;
z-index:0;
}

.menu{

position:relative;
z-index:2;

background:white;
padding:30px;
border-radius:15px;

width:320px;
text-align:center;

box-shadow:0 0 20px rgba(0,0,0,0.3);

animation:entrada 1s;

}

h1{
margin-top:0;
}

.personagem img{

width:120px;
animation:pular 2s infinite;

}

.descricao{
font-size:14px;
margin:10px 0 20px 0;
}

button{

border:none;
padding:12px 20px;
margin:5px;
border-radius:8px;
cursor:pointer;

}

.jogar{

background:#27ae60;
color:white;
font-size:18px;
width:100%;

}

.menu-botoes{

display:flex;
justify-content:space-between;

}

.menu-botoes button{

background:#3498db;
color:white;
width:48%;

}

@keyframes pular{

0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}

}

@keyframes entrada{

from{
opacity:0;
transform:scale(0.8);
}

to{
opacity:1;
transform:scale(1);
}

}